@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexCenterStart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@mixin flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flexJustifyCenterStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}