// Variables and mixins imports
@import "../variables.scss";
@import "../mixins.scss";

// font family Stoney face
@font-face {
  font-family: stoney;
  src: url("../../assets/fonts/stoney-billy/STONB___.TTF");
}

.locations {
  width: 100%;
  background-color: $background;

  &__container {
    padding: 2rem 0;
    @include flexCenter();
    flex-direction: column;
    gap: 30px;

    .container__title {
      font-family: stoney;
      color: $yellow;
      text-shadow: 0 0 5px $yellow;
      text-align: center;
      font-size: 30px;
    }

    // Filter styles 
    .container__filters {
      width: 100%;
      @include flexCenter();
      flex-direction: column;

      // Input styles
      .filters__input {
        background-color: transparent;
        border: 1px solid $yellow;
        box-shadow: 0 0 5px $yellow;
        color: $yellow;
        border-radius: 10px;
        font-family: "Montserrat Alternates";
        font-size: 20px;
        padding: 10px 20px;

        &::placeholder {
          color: #fff;
        }

        &:focus {
          outline: none;
        }
      }

      // Dropdown styles 
      .filters__dropdown {
        position: relative;
        background-color: #fff;
        list-style-type: none;

        .dropdown__item {
          padding: 20px;
          font-family: "Montserrat Alternates";

          &:hover {
            background-color: $yellow;
            cursor: pointer;
          }
        }
      }

      // Select styles
      .filters__select, .filters__button {
        max-width: 100px;
        padding: 10px 20px;
        border-radius: 10px;
        color: #fff;
        background-color: $yellow;
        font-family: "Montserrat Alternates";
        font-weight: 800;
        font-size: 14px;
        cursor: pointer;
        border: none;
      }

      .filters__button {
        min-width: 150px;
        padding: 15px 0;
      }
    }

    .selects {
      width: 100%;
      @include flexCenter();
      margin: 20px 0;
      gap: 30px;
    }

    .container__list {
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      width: 90%;

      .list__item {
        width: 100%;
        background-color: $yellow;
        border-radius: 10px;
        padding: 1rem 2rem;
        box-shadow: 0 0 15px $yellow;
        cursor: pointer;
        transition: $transition!important;

        &:hover {
          opacity: .7!important;
        }

        .item__name {
          color: #fff;
          text-align: center;
          font-family: "Montserrat Alternates";
          font-weight: 700;
          font-size: 25px;
        }

        .item__type, .item__dimension, .item__url {
          color: #fff;
          font-family: "Montserrat Alternates";
          font-weight: 600;
          font-size: 20px;
          margin-top: 10px;

          span {
            color: #fff;
            font-family: "Montserrat Alternates";
            font-weight: 800;
            font-size: 20px;
          }

          a {
            color: $background;
            text-decoration: none;
            font-family: "Montserrat Alternates";
          }
        }
      }
    }
  }

  // Media queries
  @media screen and (min-width: 992px) {
    .locations__container {
     .container__list {
        .list__item {
          .item__name {
            font-size: 30px;
          }

          .item__type, .item__dimension, .item__url {
            font-size: 30px;

            span {
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}