@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");

@import "./components/variables.scss";

* {
  padding: 0; margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

::selection {
  background-color: rgb(218, 218, 77);
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.App .container {
  width: 350px;
  margin: 0 auto;
}

.container__navigation {
  ul li button {
    background-color: $yellow;
    font-family: "Montserrat Alternates";
    color: #fff;

    &:hover {
      background-color: $yellow!important;
      opacity: .8;
    }
  }

  .css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: $yellow!important;
    opacity: .8;
  }

  .css-1v2lvtn-MuiPaginationItem-root {
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .App .container {
    width: 768px;
  }
}

@media screen and (min-width: 992px) {
  .App .container {
    width: 992px;
  }
}

@media screen and (min-width: 1200px) {
  .App .container {
    width: 1200px;
  }
}